* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    padding: 30px 0 50px;
}

.contenitore-flex {
    display: flex;
    justify-content: center;
}

#aggiungi-nuovo {
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: rgb(78, 160, 236);
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

ul li {
    margin-bottom: 10px;
}

ul li.fatto {
    text-decoration: line-through;
}

ul li span {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    margin-left: 5px;
    color: white;
    text-align: center;
    cursor: pointer;
}

ul li span.elimina {
    width: 25px;
    border-radius: 50%;
    font-weight: bold;
    background-color: rgb(199, 26, 26);
}

ul li span.check-fatta {
    background-color: rgb(32, 190, 32);
    border-radius: 5px;
    padding: 0 5px;
}